<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Existing files ko load karo
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# React Router ke liye sab kuch index.html par bhejo
RewriteRule . /index.html [L]
</IfModule>